.footer {
  background: #252525;
  padding: 5%;
  text-align: center;
  color: #ddd;
}

.footer p {
  line-height: 5px;
}

.footer .first {
  font-size: 1rem;
}

.footer .second {
  font-size: 0.75rem;
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 1%;
  }
}