.post-container {
  margin: 15px;
}

.post-container a {
  text-decoration: none;
  color: #252525;
}

.post-card {
  background: #fff;
  margin-bottom: 25px;
}

.post-image {
  width: 100%;
  padding: 15px 15px 0 15px;
  height: auto;
}

.post-description {
  padding: 0 15px 15px 15px;
}

.post-heading, .post-content {
  margin: 0;
  padding: 0;
}

.post-heading {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 35px;
}

.post-content {
  font-size: 1rem;  
  line-height: 20px;
  text-align: justify;
}

@media only screen and (min-width: 1024px) {
  .post-container {
    width: 37.5%;
    margin: 0 auto 0 auto;
  }

  .post-image {
    padding: 25px 25px 0 25px;
  }

  .post-description {
    padding: 0 25px 25px 25px;
  }
}