.single-post-container {
  background: #fff;
  margin: 15px;
  padding: 15px 15px 5px 15px;
}

.single-post-heading {
  font-size: 25px;
  font-weight: 800;
  margin: 0;
}

.single-post-container p {
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 17.5px;
  text-align: justify;
}

.single-post-container h3 {
  font-size: 1.25rem;
  margin: 0;
}

.single-post-image {
  width: 100%;
  height: auto;
  margin: 15px 0 15px 0;
}

@media only screen and (min-width: 1024px) {
  .single-post-container {
    width: 50%;
    margin: 25px auto 25px auto;
    padding: 25px;
  }
}